@using ComwellWeb.Pages
@using Core
<!--
@if (Visible && Team != null)
{
    
    <div class="team-modal-backdrop" @onclick="CloseOnBackdropClick">
        <div class="team-modal-content" @onclick:stopPropagation>
            <button class="team-close-button" @onclick="Close">X</button>
            <h3>Holdinformation</h3>
            <p><strong>Navn:</strong> @Team.Name</p>
            <p><strong>Antal elever:</strong> @Team.StudentCount</p>
        </div>
    </div>
}

@code {
    [Parameter] public bool Visible { get; set; }
    //[Parameter] public Team? Team { get; set; }
    [Parameter] public EventCallback OnCloseRequested { get; set; }

    private Task Close() => OnCloseRequested.InvokeAsync();
    private Task CloseOnBackdropClick() => OnCloseRequested.InvokeAsync();
    
}
-->