<link rel="stylesheet" href="app.css">
<div class="NavBar">
    <div class="BtnsDiv">
        <div class="BtnDiv">
            <a class="NavAnker" href="/CreateNewUser">Opret Ny Bruger</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="/StudentList">Se Elev Lister</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="/Messenger">Beskeder</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="/MyProfile">Min Profil</a>
        </div>
    </div>
</div>