<link rel="stylesheet" href="app.css">
<div class="NavBar">
    <div class="BtnsDiv">
        <div class="BtnDiv" onclick="location.href='/opret'">
            <a class="NavAnker">Opret Ny Bruger</a>
        </div>
        <div class="BtnDiv" onclick="location.href='/StudentList'">
            <a class="NavAnker" >Se Elev Lister</a>
        </div>
        <div class="BtnDiv" onclick="location.href='/MyProfile'">
            <a class="NavAnker">Min Profil</a>
        </div>
    </div>
</div>