<link rel="stylesheet" href="app.css">
<div class="NavBar">
    <div class="BtnsDiv">
        <div class="BtnDiv">
            <a class="NavAnker" href="">Mit Skema</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="">Mine Hold</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="">Opret Nyt Delmål</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="">Se Elev Lister</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="">Beskeder</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="">Min Profil</a>
        </div>
    </div>
</div>