@using Core
@using Notification = Core.Notification
<div id="AltNotiIndhold">
    @if (LastestNotiData?.Notifications30.Any() == true)
    {
        @foreach (var noti in LastestNotiData.Notifications30)
        {
            <div class="Notification">
                <p class="notiTxt">#@noti.Id - @noti.Message</p>
                <small>@noti.NotificationDate.ToShortDateString()</small>
            </div>
        }
    }
    else
    {
        <div class="Notification">
            <p class="notiTxt">Ingen notifikationer under 30 dage gamle</p>
        </div>
    }
</div>

@code {
    private List<Core.Notification> Notifications;
    private Core.Notification.LastestNoti LastestNotiData;

    protected override void OnInitialized()
    {
        /*TEst daTA
        Notifications = new List<Core.Notification>
        {
            new Core.Notification
            {
                NotificationId = 1,
                NotificationUserId = 100,
                NotificationContent = "Velkommen til systemet!",
                NotificationDate = DateTime.Now.AddDays(-10)
            },
            new Core.Notification
            {
                NotificationId = 2,
                NotificationUserId = 100,
                NotificationContent = "Du har fået en ny besked",
                NotificationDate = DateTime.Now.AddDays(-40) // Ældre end 30 dage, så skal ikke vises (det duer)
            },
            new Core.Notification
            {
                NotificationId = 3,
                NotificationUserId = 101,
                NotificationContent = "Din profil er opdateret",
                NotificationDate = DateTime.Now.AddDays(-5)
            }
        };
        */

        // Filtrér notifikationer, der er under 30 dage gamle
        LastestNotiData = new Core.Notification.LastestNoti(Notifications);
    }
}