<link rel="stylesheet" href="app.css">
<div class="NavBar">
    <div class="BtnsDiv">
        <div class="BtnDiv" onclick="location.href='/FAQ'">
            <a class="NavAnker" href="/FAQ">FAQ</a>
        </div>
        <div class="BtnDiv" onclick="location.href='/Login'">
            <a class="NavAnker">Login</a>
        </div>
    </div>
</div>