<link rel="stylesheet" href="app.css">
<div class="NavBar">
    <div class="BtnsDiv">
        <div class="BtnDiv">
            <a class="NavAnker" href="/AboutUs">Om Os</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="/Login">Login</a>
        </div>
    </div>
</div>