<link rel="stylesheet" href="app.css">
<div class="NavBar">
    <div class="BtnsDiv">
        <div class="BtnDiv">
            <a class="NavAnker"  href="">Udd. Plan</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="">Tilmeld Kurser</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="">Mine Mål</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="">Beskeder</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="">Min Profil</a>
        </div>
    </div>
</div>