<link rel="stylesheet" href="app.css">
<div class="NavBar">
    <div class="BtnsDiv">
        <div class="BtnDiv">
            <a class="NavAnker" href="StudentHome">Home</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="MyGoals">Udd. Plan</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="/RegisterSubGoal">Tilmeld Kurser</a>
        </div>
        <div class="BtnDiv">
            <a class="NavAnker" href="/MyProfile">Min Profil</a>
        </div>
    </div>
</div>
