@inherits LayoutComponentBase
@using ComwellWeb.Komponents
@using Core
<div class="page">
    <main>
        <div class="top-row px-4 NavBarPlace">
            @if (CurrentUser.Role == "HR")
            {
                <HRNavBar/> 
            }
            else if (CurrentUser.Role == "Student")
            {
                <StudentNavBar/>
            }
            else if (CurrentUser.Role == "KitchenManager")
            {
                <KitchenManagerNavBar/>
            }
            else
            {
                <StdNavBar/>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Parameter]
    public User CurrentUser { get; set; }
    
    protected override void OnInitialized()
    {
        //CurrentUser = new User { Role = "" };
        CurrentUser = new User { Role = "KitchenManager" };
        //  CurrentUser = new User { Role = "HR" };
        //  CurrentUser = new User { Role = "Student" };
    }

}