@inherits LayoutComponentBase
@using ComwellWeb.Komponents
@using Core
@inject IUserService userService
@inject NavigationManager nav

@if (!loaded)
{
    <p>Indlæser...</p>
}
else
{
    <div class="page">
        <main>
            <div class="top-row px-4 NavBarPlace">
                @if (CurrentUser?.Role == "HR")
                {
                    <HRNavBar />
                }
                else if (CurrentUser?.Role == "Student")
                {
                    <StudentNavBar StudentId="@CurrentUser.UserId" />
                }
                else if (CurrentUser?.Role == "KitchenManager")
                {
                    <KitchenManagerNavBar />
                }
                else
                {
                    <StdNavBar />
                }
            </div>

            @if (CurrentUser?.Role == "HR" || CurrentUser?.Role == "Student" || CurrentUser?.Role == "KitchenManager")
            {
                <div class="Noti" @onclick="ToggleNotification">
                    <span class="notification-icon">🔔</span>

                    @if (ShowNotification)
                    {
                        <div class="notification-dropdown">
                            <Notification />
                        </div>
                    }
                </div>
            }

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}

@code {
    private bool ShowNotification = false;
    private User? CurrentUser;
    private bool loaded = false;

    private void ToggleNotification()
    {
        ShowNotification = !ShowNotification;
    }

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await userService.GetUserLoggedInAsync();

        if (CurrentUser != null && nav.Uri == nav.BaseUri)
        {
            if (CurrentUser.Role?.ToLower() == "student")
            {
                nav.NavigateTo("/StudentHome", true);
            }
            else
            {
                nav.NavigateTo("/MyProfile", true);
            }
        }

        loaded = true;
    }
}
