@page "/createnewsubgoal"
@using ComwellWeb.Services.Interfaces
@using Core
@using ComwellWeb.Komponents
@inject NavigationManager NavMan
@inject ISubGoalService SubGoalService
@inject IUserService UserService

@if (_currentUser == null)
{
    <p>Authenticating User....</p>
}
else
{
    <div class="container-fluid py-4">
        <div class="row justify-content-center">
            <div class="col-md-6 FormOverordnet">
                <div class="card shadow p-4 mb-4">
                    <h3 class="text-center mb-4">Opret Delmål</h3>
                    <EditForm EditContext="EditContext" OnSubmit="HandleSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <InputText @bind-Value="_model.SubGoalName" class="form-control form-control-lg" placeholder="HovedGoal..." />
                        </div>
                        @foreach (var middleGoal in _model.MiddleGoals)
                        {
                            <div>
                                <InputText @bind-Value="middleGoal.Name" placeholder="Middle Goal..."></InputText>
                            </div>
                            @foreach (var miniGoal in middleGoal.MiniGoals)
                            {
                                <div>
                                    <InputText @bind-Value="miniGoal.Name" placeholder="Mini Goal Name..."></InputText>
                                </div>
                            }
                            <button type="button" @onclick="() => AddMiniGoal(middleGoal)">Tilføj Mini Goal</button>
                        }
                        <button type="button" @onclick="AddMiddleGoal">Add Middle Goal</button>
                        
                        <div class="mb-3">
                            <InputTextArea @bind-Value="_model.SubGoalDescription" class="form-control" placeholder="Beskrivelse.." />
                        </div>

                        <div class="mb-3">
                            <InputSelect @bind-Value="_model.SubGoalType" @onchange="OnSubGoalTypeChange" class="form-control">
                                <option value="">Vælg type</option>
                                @foreach (var type in _types)
                                {
                                    if (type == "Standard")
                                    {
                                        <option value="@type">@type opgave (BLIVER UDGIVET TIL ALLE ELEVER)</option>
                                    }
                                    else
                                    {
                                        <option value="@type">@type opgave</option>
                                    }
                                }
                            </InputSelect>
                        </div>

                        <div class="mb-3">
                            @if (_myStudents != null)
                            {
                                @if (_model.SubGoalType == "Extra")
                                {
                                    <StudentDropdown _students="_myStudents" _addedStudents="_addedStudents" @ref="dropdown"></StudentDropdown>
                                }
                            }
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success">Tildel Delmål</button>
                        </div>
                    </EditForm>
                    <p style="color: red">@_errorMessage</p>
                </div>
            </div>
            
        </div>
    </div>
}

@code {
    User? _currentUser;
    List<User>? _myStudents;
    List<User> _addedStudents = new List<User>();
    
    SubGoal _model;
    EditContext EditContext;
    
    StudentDropdown? dropdown { get; set; }
    string _errorMessage;
    int currentMaxId;

    string[] _categories = new[]
    {
        "Kursus", "Køkken kompetence", "Faglig mål"
    };
    
    string[] _types = new[]
    {
        "Standard", "Extra"
    };

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await UserService.GetUserLoggedInAsync();
        
        //Todo måske HR også skal kunne komme ind???
        if (_currentUser.Role != "KitchenManager")
        {
            NavMan.NavigateTo("/");
        }

        _model = new SubGoal{MiddleGoals = new List<MiddleGoal>()};
        EditContext = new EditContext(_model);
        currentMaxId = await SubGoalService.MaxSubGoalId();
        if (_currentUser != null)
            _myStudents = await UserService.GetAllStudentsByResponsibleIdAsync(_currentUser.UserId);
    }
    private void AddMiddleGoal()
    {
        _model.MiddleGoals.Add(new MiddleGoal { MiniGoals = new List<MiniGoal>() });
    }

    private void AddMiniGoal(MiddleGoal middleGoal)
    {
        middleGoal.MiniGoals.Add(new MiniGoal());
    }
    

    private async void HandleSubmit()
    {
        _model.SubGoalId = currentMaxId + 1;
        if (EditContext.Validate())
        {
            if (_model.SubGoalType == "Standard")
            {
                SubGoalService.CreateSubGoal(_model);
                SubGoalService.InsertSubgoalAll(_model);
            }
            else
            {
                if (_addedStudents.Count == 0)
                {
                    _errorMessage = "Du skal angive mindst én elev til en ekstra opgave";
                    StateHasChanged();
                    return;
                }
                var studentIds = new List<int>();
                foreach (var student in _addedStudents)
                {
                    studentIds.Add(student.UserId);
                }
                SubGoalService.CreateSubGoal(_model);
                SubGoalService.InsertSubgoalSpecific(_model, studentIds);
            }
            ResetModels();
        }
    }
    
    private async void ResetModels()
    {
        _model = new SubGoal{MiddleGoals = new List<MiddleGoal>()};
        EditContext = new EditContext(_model);
        _addedStudents = new List<User>();
        StateHasChanged();
        Thread.Sleep(2000);
        currentMaxId = await SubGoalService.MaxSubGoalId();
    }

    private void OnSubGoalTypeChange(ChangeEventArgs e)
    {
        _model.SubGoalType = e.Value.ToString();
        StateHasChanged();
    }


}
