@page "/opret"
@using ComwellWeb.Komponents
@using ComwellWeb.Services
@using Core
@inject NavigationManager NavigationManager
@inject IUserService _userService

@if (_currentUser == null)
{
    <p>Authenticating...</p>
}
else
{
    <div class="container-fluid py-4">
        <div class="row justify-content-center">
            <div class="col-md-6 FormOverordnet">
                <div class="card shadow p-4 mb-4">
                    <h3 class="text-center mb-4">Opret Bruger</h3>
                    <EditForm EditContext="EditContext" OnSubmit="HandleSubmit">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                        @if (!string.IsNullOrEmpty(statusMessage))
                        {
                            <p class="mt-3 alert alert-info">@statusMessage</p>
                        }
                        
                        <img src="@profilePicture" class="profile-picture" alt="Profil billede"/>
                        
                        <div>
                            <label for="pic">Billede</label>
                            <InputFile id="pic" OnChange="HandleImageUpload" accept=".jpg,.jpeg,.png,.webp"></InputFile>
                            <button type="button" @onclick="RemoveProfilePicture">Fjern profilbillede</button>
                        </div>
                        
                        <div class="mb-3">
                            <label for="userName">Navn:</label>
                            <InputText id="userName" class="form-control" @bind-Value="_model.UserName"/>
                        </div>

                        <div class="mb-3">
                            <label for="email">Mail:</label>
                            <InputText id="email" class="form-control" @bind-Value="_model.UserEmail"/>
                        </div>

                        <div class="mb-3">
                            <label for="phone">Telefonnummer:</label>
                            <InputText id="phone" class="form-control" @bind-Value="_model.UserPhone"/>
                        </div>

                        <div class="mb-3">
                            <label for="password">Adgangskode:</label>
                            <InputText id="password" type="password" class="form-control" @bind-Value="_model.UserPassword"/>
                        </div>

                        <div class="mb-3">
                            <label for="role">Rolle:</label>
                            <InputSelect id="role" class="form-control" @bind-Value="_model.Role" @onchange="OnRoleChange">
                                <option value="">-- Vælg rolle --</option>
                                <option value="Student">Elev</option>
                                <option value="KitchenManager">Køkkenleder</option>
                                <option value="HR">HR</option>
                            </InputSelect>
                        </div>
                        <div class="mb-3">
                            @if (_kitchenManagers != null)
                            {
                                @if (_model.Role == "Student")
                                {
                                    <KitchenManagerDropdown @ref="dropdown" _kitchenManagers="_kitchenManagers" _kitchenManager="assignedKitchenManager" KitchenManagerChanged="@(user => assignedKitchenManager = user)"></KitchenManagerDropdown>
                                }
                            }
                        </div>

                        <div class="mb-3">
                            <label>Start Dato:</label>
                            <InputDate @bind-Value="@_model.StartDate"></InputDate>
                        </div>

                        <button class="btn btn-primary" type="submit">Opret</button>
                    </EditForm>
                    
                </div>
            </div>
        </div>
    </div>
}


@code {
    private User? _currentUser;
    private User _model;
    private EditContext EditContext;
    private string statusMessage = "";
    private List<User>? _kitchenManagers;
    private User? assignedKitchenManager = new User();
    KitchenManagerDropdown? dropdown { get; set; }

    byte[] pictureBytes;
    private string profilePicture = "/Pictures/NoProfilePicture.png";

    
    protected override async Task OnInitializedAsync()
    {
        _model = new User();
        EditContext = new EditContext(_model);
        _currentUser = await _userService.GetUserLoggedInAsync();
        if(_currentUser == null || _currentUser.Role != "HR")
            NavigationManager.NavigateTo("/login");
        int maxId = await _userService.GetMaxUserId();
        _model.UserId = maxId + 1;
        _kitchenManagers = await _userService.GetAllKitchenManagersAsync();
    }

    private async Task HandleSubmit()
    {
        
        if (_model.Role == "Student" && assignedKitchenManager.UserId == 0)
        {
            statusMessage = "En elev skal have en køkken chef tildelt";
            return;
        }

        if (_model.Role == "Student")
            _model.UserIdResponsible = assignedKitchenManager.UserId;
        if (EditContext.Validate())
        {
            var result = await _userService.AddUserAsync(_model);

            if (result == null)
            {
                statusMessage = "Brugeren findes allerede.";
            }
            else
            {
                statusMessage = $"Bruger oprettet: {result.UserName} ({result.Role})";
                _model = new();
                int nextId = await _userService.GetMaxUserId();
                _model.UserId = nextId + 1;
                profilePicture = "/Pictures/NoProfilePicture.png";
                pictureBytes = null;
            }
        }
    }
    
    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            using var memoryStream = new MemoryStream();
            await file.OpenReadStream().CopyToAsync(memoryStream);
            pictureBytes = memoryStream.ToArray();
            _model.Picture = Convert.ToBase64String(pictureBytes);
            profilePicture = $"data:image/gif;base64,{_model.Picture}";
            StateHasChanged();
        }
    }

    private void RemoveProfilePicture()
    {
        _model.Picture = null;
        profilePicture = "/Pictures/NoProfilePicture.png";
        StateHasChanged();
    }
    
    private void OnRoleChange(ChangeEventArgs e)
    {
        _model.Role = e.Value.ToString();
        StateHasChanged();
    }
}
