@page "/login"
@using ComwellWeb.Services.Interfaces
@using Core
@inject IUserService userService
@inject NavigationManager nav
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Log ind</h3>

<input @bind="email" placeholder="Email" />
<input @bind="password" type="password" placeholder="Adgangskode" />
<button @onclick="TryLogin">Log ind</button>

<p>@message</p>

@code {
    private string email;
    private string password;
    private string message;

    private async Task TryLogin()
    {
        var user = await userService.Login(email, password);

        if (user != null)
        {
            Console.WriteLine($"Login success – Responsible: {user.UserIdResponsible}");
            await localStorage.SetItemAsync("user", user);
            nav.NavigateTo("/MyGoals", forceLoad: true);
        }
        else
        {
            message = "Forkert brugernavn eller adgangskode.";
        }
    }
}