@page "/login"

<div class="login-container">
    <div class="login-box">
        <div class="login-logo">
            <img src="https://img.icons8.com/ios-filled/100/lock.png" alt="Login Icon" />
        </div>
        <h2>Login</h2>
        <form>
            <input type="email" placeholder="Indtast e-mail" required />
            <input type="password" placeholder="Indtast kode" required />
            <button type="submit">Log ind</button>
        </form>
    </div>
</div>
