@page "/"
@page "/login"
@using ComwellWeb.Services.Interfaces
@inject IUserService userService
@inject NavigationManager nav 
@using Core

<form @onsubmit="HandleSubmit">
    <div class="login-container">
        <div class="login-box">
            <h2>Log ind</h2>
            <input @bind="email" placeholder="Email" class="login-input" />
            <input @bind="password" type="password" placeholder="Adgangskode" class="login-input" />
            <p class="login-message">@message</p>
            <button @onclick="TryLogin"  class="login-button">Log ind</button>
        </div>
    </div>
</form>

@code {
    string email;
    string password;
    string message;
    //iværksættes når man trykker på login knappen
    private async Task HandleSubmit()
    {
        //Skal køre funktionen herunder
        await TryLogin();
    }

    // Kører når brugeren klikker login
    private async Task TryLogin()
    {
        //Sætter vedkommende der logger ind som user
        //bruger userservice,s login funktione til at logge ind
        //Bruger email og password som de parametre den kontrollere login med
        var user = await userService.Login(email, password);
 
        if (user != null)
        {
            //hvis Login gik godt = naviger til deres respektive forsider forsiden
            if (user.Role == "Student")
            {
                nav.NavigateTo("/StudentHome", forceLoad: true);
            }
            //Vidersender de rigtige roller til deres respektive steder.
            else if (user.Role == "HR" || user.Role == "KitchenManager" || user.Role == "Admin")
            {
                nav.NavigateTo("/studentlist", forceLoad: true);
            }
        }
        else
        {
            //Besked der kommer frem hvis parametrende fra email og password ikke matchede med noget fra db, som sker i login funktionen
            message = "Wrong Username or Password";
        }
    }
    protected override async Task OnInitializedAsync()
    {
        //Checker om vedkommende allerede er logget ind, da man selv skal logud igennem
        //myprofil siden hvis man ønsker at logge ud
        var user = await userService.GetUserLoggedInAsync();
        if (user != null)
        {
            if (user.Role == "Student")
            {
                nav.NavigateTo("/StudentHome", forceLoad: true);
            }
            else if (user.Role == "HR" || user.Role == "KitchenManager" || user.Role == "Admin")
            {
                nav.NavigateTo("/studentlist", forceLoad: true);
            }
        }
    }

}