@using ComwellWeb.Komponents.Modal
@using ComwellWeb.Services.Interfaces
@using Core;
@page "/RegisterSubGoal"
@inject ISubGoalService SubGoalService


    @if (_offeredSubGoals == null)
    {
        <p>Ingen extra delmål eksisterer, eller du har dem allerede</p>
    }
    else
    {
        <ul>
            
            @foreach (var subgoal in _offeredSubGoals)
            {
                @if (!ownGoalsDict.ContainsKey(subgoal.SubGoalId))
                {
                    <li style="background-color: white;" @onclick="() => OpenModal(subgoal)">
                        <label><b>Navn: </b></label> @subgoal.SubGoalName
                        <label><b>  Kategori: </b></label>
                    </li>
                }
            }
        </ul>
    }

<SubGoalDescriptionModal Goal="SelectedSubGoal" Visible="ShowModal" OnCloseRequested="CloseModal" VejenDerTil="VejenDerTil" CurrentUser="_currentUser"/>
@code {
// Offered subgoals bliver alle extra opgaver som andre elever har fået. Hvis en elev synes det er interessant kan han byde ind på den også
// Hvis han allerede har den, fremgår den ikke
    private List<SubGoal> _offeredSubGoals;
    private Dictionary<int, int> ownGoalsDict = new Dictionary<int, int>();
    
private SubGoal? SelectedSubGoal;
private bool ShowModal = false;
public bool VejenDerTil = true;
private User _currentUser;

protected override async Task OnInitializedAsync()
{
    //Todo tilføj initialisering af bruger (elev)
    _currentUser = new User()
    {
        UserId = 1,
        UserName = "Martin",
        UserIdResponsible = 23,
        UserEmail = "afsdf@aga.com",
        Role = "Student"
    };
    _offeredSubGoals = await SubGoalService.GetOfferedSubGoalsAsync();
    var _ownOfferedSubGoals = await SubGoalService.GetOfferedSubGoalsByStudentIdAsync(_currentUser.UserId);
    if (_ownOfferedSubGoals != null)
    {
        foreach (var owngoal in _ownOfferedSubGoals)
        {
            ownGoalsDict[owngoal.SubGoalId] = 0;
        }
    }
}

private void OpenModal(SubGoal goal)
{
    SelectedSubGoal = goal;
    ShowModal = true;
    VejenDerTil = true;
}

private void CloseModal()
{
    ShowModal = false;
}
}
