@page "/StudentList"
@using ComwellWeb.Services
@using Core
@inject HttpClient Http
@inject IUserService _userservice

<h3>Elevliste</h3>

<!--Hvis der ikke kan findes elever : vis "indlæser"-->

@if (students == null)
{
    <p>Indlæser...</p>
}
else
    //indlæs alle elever 
{
    <ul>
        @foreach (var student in students)
        {
            <li>@student.UserName</li>
        }
    </ul>
}
<!--Indlæser liste af elever fra vores API, som bliver brugt i overstående foreach-loop.-->
@code {
    List<User>? students;

    protected override async Task OnInitializedAsync()
    {
        students = await _userservice.GetAllUsersAsync();
    }
}