@page "/StudentHome"
@inject IUserService _userservice
@using Core

<div class="dashboard-container">
    <div class="left-section">
        <h2>Velkommen, @_currentUser?.UserName</h2> 
        <div class="progress-and-name">
            <h3>Din Procces</h3>
            <div class="progress-container">
                <div class="progress-bar" style="width: 60%;"></div>
            </div>
        </div>

        <h2>Kommende opgaver inden skolestart</h2>
        <div class="assignments-container">
            <div class="assignment-card">
                <h4 class="assignment-title">Opgave 1</h4>
                <p class="assignment-description">Kort beksrivelse til opgaven</p>
            </div>
            <div class="assignment-card">
                <h4 class="assignment-title">Opgave 2</h4>
                <p class="assignment-description">Kort beskrivelse til opgaven</p>
            </div>
            <div class="assignment-card">
                <h4 class="assignment-title">Opgave 3</h4>
                <p class="assignment-description">Kort beskrivelse til opgaven</p>
            </div>
            <div class="assignment-card">
                <h4 class="assignment-title">Opgave 3</h4>
                <p class="assignment-description">Kort beskrivelse til opgaven</p>
            </div>
            <div class="assignment-card">
                <h4 class="assignment-title">Opgave 4</h4>
                <p class="assignment-description">Kort beskrivelse til opgaven</p>
            </div>
            <div class="assignment-card">
                <h4 class="assignment-title">Opgave 5</h4>
                <p class="assignment-description">Kort beskrivelse til opgaven</p>
            </div>
        </div>
    </div>

    <div class="right-section">
        <h2>Quiz dig selv</h2>
        <div class="quiz-box">
            <p>Vi kunne lave en lille quiz/test her</p>
        </div>
    </div>
</div>

@code {
    User? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await _userservice.GetUserLoggedInAsync();
    }
}
