@page "/studentlist"
@using ComwellWeb.Services.Interfaces
@using Core
@using ComwellWeb.Komponents.Modal
@inject ISubGoalService SubGoalService

<h3>Studenterfremskridt</h3>
@inject HttpClient Http
@inject IUserService _userservice

<h3>Elevliste</h3>

<!--Hvis der ikke kan findes elever : vis "indlæser"-->
<div>
    <select id="tripFilter">
        <option value="">Alle ture</option>
        <option value="italy">Studietur til Italien</option>
        <option value="michelin">Besøg på Michelin-restaurant</option>
        <option value="madfestival">Madfestival i Aarhus</option>
    </select>
</div>

@if (_allStudents == null)
{
    <p>Indlæser...</p>
}
else
    //indlæs alle elever 
{
    foreach (var student in _sortedStudents)
    {
        <div class="student-card" @onclick="()=>ShowStudentPlan(student.UserId)">
            <div class="student-info">
                <span>@student.UserName</span>
                <span>@student.StartDate</span>
            </div>
            <span>@_pctCompleted[student.UserId]%</span>
            <div class="progress-container">
                <div class="progress-bar" style="width: @_pctCompleted[student.UserId]%;"></div>
            </div>
        </div>
    }
}

@code{
    User? _currentUser;

    List<User>? _allStudents;
    // De elever man har efter sortering, det som bliver vist for HR
    List<User>? _sortedStudents;
    Dictionary<int, double>? _pctCompleted;
    int _currentShownStudent;
    bool ShowModal = false;

    protected override async Task OnInitializedAsync()
    {
        //Todo sæt currentuser til nuværende bruger OG hent alle elever fra db
        _allStudents = await _userservice.GetAllStudentsAsync();
        _sortedStudents = _allStudents;
        _pctCompleted = new Dictionary<int, double>();
        foreach (var student in _allStudents)
        {
            _pctCompleted[student.UserId] = Double.Truncate(await SubGoalService.GetPctCompletedSubGoalsByStudentIdAsync(student.UserId));
        }
        
    }

    private void ShowStudentPlan(int studentId)
    {
        _currentShownStudent = studentId;
        ShowModal = true;
    }

    private void CloseModal()
    {
        ShowModal = false;
    }

}
